/* HIDE RADIO BUTTON */

.rate > input{
  display: none;
}

.rate{
  display: inline-block;
  border: 0;
}

.rate > label{
  float: right;
}

/* Showing the starts */
.rate > label:before{

  display: inline-block;
  font-size: 1.1rem;
  font-family: FontAwesome;
  content: "\f005";
  margin:0;
  padding: 0.3rem .2rem;
  cursor: pointer;
}

/* Half Star */
.rate .half:before{
  content: "\f089";
  position: absolute;
  padding-right: 0;
}

input:checked ~ label,label:hover ~ label{
  color: #ffb503;
}

/*  hover highlight */

input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
    color: #cc9000;
}
.rating-star i{
  color:#ffb503 !important;
}






ul.thumb{
  margin: 0 auto;
  padding: 0;
  float: left;
}
ul.thumb li{
  list-style: none;
  margin: 10px;
}
ul.thumb li img{
  width:80px;
  height: 80px;
  border: 1px solid #ccc;
}

#ahover:hover{
  color: #C57B57 !important;
}










/* SLIDER */
.slider {
  width: 100% !important;
  height: 50vh !important;
  overflow: hidden !important;
  border-radius: 20px;
}
.slides {
  width: 1000% !important;
  height: 50vh !important;
  display: flex !important;
}
.slides input {
  display: none !important;
}

.slide {
  width: 10% !important;
  transition: 2s !important;
}
.slide img {
  width: 100% !important;
  height: 50vh !important;
}

/* .navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
} */

/* .manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
} */
/* .manual-btn:not(:last-child) {
  margin-right: 40px;
} */

.manual-btn:hover {
  background: #ff6699 !important;
}

#radio1:checked ~ .first {
  margin-left: 0 !important;
}
#radio2:checked ~ .first {
  margin-left: -10% !important;
}
#radio3:checked ~ .first {
  margin-left: -20% !important;
}
#radio4:checked ~ .first {
  margin-left: -30% !important;
}
#radio5:checked ~ .first {
  margin-left: -40% !important;
}
#radio6:checked ~ .first {
  margin-left: -50% !important;
}
#radio7:checked ~ .first {
  margin-left: -60% !important;
}
#radio8:checked ~ .first {
  margin-left: -70% !important;
}
#radio9:checked ~ .first {
  margin-left: -80% !important;
}

/* .navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #ff6699;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #ff6699;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #ff6699;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #ff6699;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #ff6699;
} */
/* ------------------------------------------------media query for slideshow ------------------------------------------------------------------------------*/
